USE [master]
GO
/****** Object:  Database [Food_Web]    Script Date: 4/16/2024 1:32:26 AM ******/
CREATE DATABASE [Food_Web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Food_Web', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Food_Web.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Food_Web_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Food_Web_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Food_Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Food_Web]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[Linkimage] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsApproved] [bit] NULL,
	[image] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[Opentime] [time](7) NULL,
	[Closetime] [time](7) NULL,
	[Fullname] [nvarchar](max) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[StoreName] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Images] [image] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Blogid] [int] IDENTITY(1,1) NOT NULL,
	[Bloglong] [varchar](100) NULL,
	[Blogday] [date] NOT NULL,
	[image] [varchar](100) NULL,
	[Blogshort] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Blogid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Image] [varchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[Money] [float] NULL,
	[Productid] [int] NULL,
	[IdUser] [nvarchar](128) NOT NULL,
	[Linkimage] [nvarchar](max) NULL,
 CONSTRAINT [PK__CartItem__3214EC27E66069A0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Categoryid] [int] IDENTITY(1,1) NOT NULL,
	[Categoryname] [nvarchar](100) NULL,
	[image] [nvarchar](max) NULL,
	[Linkanhtt] [nvarchar](max) NULL,
 CONSTRAINT [PK__Category__19060623C1313E61] PRIMARY KEY CLUSTERED 
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[comment_id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[Store_id] [nvarchar](128) NULL,
	[user_id] [nvarchar](128) NULL,
	[Rating] [int] NULL,
	[created] [datetime] NOT NULL,
	[img] [nvarchar](max) NULL,
	[clip] [nvarchar](max) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_SP]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_SP](
	[id] [int] NOT NULL,
	[content] [nvarchar](max) NULL,
	[product_id] [int] NULL,
	[user_id] [nvarchar](128) NULL,
	[rating] [int] NULL,
	[clip] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_comment_SP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[StoreId] [nvarchar](128) NULL,
	[SoLuong] [int] NULL,
	[DiscountPercent] [float] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extrafood]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extrafood](
	[ext_id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](100) NULL,
	[Productid] [int] NOT NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ext_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Heartitem]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heartitem](
	[ID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Price] [decimal](18, 0) NULL,
	[Image] [varchar](100) NULL,
	[Productid] [int] NULL,
	[Userid] [nvarchar](128) NULL,
	[Linkimage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Heartitem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Time] [time](7) NULL,
	[Storeid] [nvarchar](128) NULL,
	[Userid] [nvarchar](128) NULL,
	[Img] [nvarchar](max) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[Od_id] [int] NOT NULL,
	[Productid] [int] NOT NULL,
	[price] [float] NULL,
	[num] [bigint] NULL,
	[tt_money] [float] NULL,
	[Storeid] [nvarchar](128) NULL,
	[VoucherCode] [nvarchar](50) NULL,
	[Totalinvoucher] [float] NULL,
	[Linkimage] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Od_id] [int] IDENTITY(1,1) NOT NULL,
	[Od_name] [varchar](50) NULL,
	[Od_email] [nvarchar](50) NULL,
	[Od_phone_number] [float] NULL,
	[Od_address] [nvarchar](100) NULL,
	[Od_note] [nvarchar](100) NULL,
	[Od_date] [datetime] NULL,
	[Od_status] [bit] NULL,
	[idthanhtoan] [int] NULL,
	[VoidanOder] [bit] NULL,
 CONSTRAINT [PK__Orders__1888DEAE55BF8437] PRIMARY KEY CLUSTERED 
(
	[Od_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Productid] [int] IDENTITY(1,1) NOT NULL,
	[Productname] [nvarchar](max) NULL,
	[Soluong] [int] NULL,
	[price] [int] NULL,
	[image] [nvarchar](100) NULL,
	[Linkimage] [nvarchar](max) NULL,
	[discription] [nvarchar](max) NULL,
	[Categoryid] [int] NOT NULL,
	[sortdiscription] [nvarchar](max) NULL,
	[Userid] [nvarchar](128) NULL,
	[DateCreated] [date] NULL,
	[status] [bit] NOT NULL,
	[is_hot] [bit] NOT NULL,
	[DiscountedPrice] [int] NULL,
	[DiscountPercent] [int] NULL,
	[DiscountStartTime] [datetime] NULL,
	[DiscountEndTime] [datetime] NULL,
	[Tinhtranggiamgia] [bit] NULL,
	[GiaGiamTheoKhungGio] [int] NULL,
	[phantramgiamgia] [int] NULL,
 CONSTRAINT [PK__Product__B40F3AA58E43BAEA] PRIMARY KEY CLUSTERED 
(
	[Productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 4/16/2024 1:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[id] [int] NOT NULL,
	[TenHinhThuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Member')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'17baaff5-4e3d-4fd3-9117-d3807213fad0', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2a3ea0f4-356c-4807-bb99-3d180bedf909', N'3')
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([Blogid], [Bloglong], [Blogday], [image], [Blogshort]) VALUES (1, N'adddddddddd', CAST(N'2023-01-01' AS Date), N'blog1.jpg', N'adddaaaaaa')
INSERT [dbo].[Blog] ([Blogid], [Bloglong], [Blogday], [image], [Blogshort]) VALUES (2, N'addd', CAST(N'2023-02-02' AS Date), N'blog2.jpg', N'daaaa')
INSERT [dbo].[Blog] ([Blogid], [Bloglong], [Blogday], [image], [Blogshort]) VALUES (3, N'aaaaaaaaaaaaa', CAST(N'2022-03-03' AS Date), N'blog3.jpg', N'daaaaagggggggggg')
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([Id], [ProductName], [Price], [Image], [Quantity], [Money], [Productid], [IdUser], [Linkimage]) VALUES (6436, N'Th?t Rán', CAST(50000 AS Decimal(18, 0)), N'ImageProduct1.jpg', 2, NULL, 1, N'dc269f5d-816f-4024-b157-edc1febca051', NULL)
INSERT [dbo].[CartItem] ([Id], [ProductName], [Price], [Image], [Quantity], [Money], [Productid], [IdUser], [Linkimage]) VALUES (6437, N'Kem Dâu', CAST(45000 AS Decimal(18, 0)), N'ImageProduct3.jpg', 1, NULL, 3, N'dc269f5d-816f-4024-b157-edc1febca051', NULL)
INSERT [dbo].[CartItem] ([Id], [ProductName], [Price], [Image], [Quantity], [Money], [Productid], [IdUser], [Linkimage]) VALUES (6438, N'Pizza', CAST(500000 AS Decimal(18, 0)), N'4.png', 1, NULL, 14, N'dc269f5d-816f-4024-b157-edc1febca051', NULL)
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Categoryid], [Categoryname], [image], [Linkanhtt]) VALUES (1, N'Salad', N'slj.jpg', NULL)
INSERT [dbo].[Category] ([Categoryid], [Categoryname], [image], [Linkanhtt]) VALUES (2, N'Seafood', N'sf.jpg', NULL)
INSERT [dbo].[Category] ([Categoryid], [Categoryname], [image], [Linkanhtt]) VALUES (3, N'Drinks', N'd.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Comment] ([comment_id], [content], [Store_id], [user_id], [Rating], [created], [img], [clip]) VALUES (9, N'oos sau ke', N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 4, CAST(N'2023-05-24T03:59:47.493' AS DateTime), NULL, NULL)
INSERT [dbo].[Comment] ([comment_id], [content], [Store_id], [user_id], [Rating], [created], [img], [clip]) VALUES (10, N'tuyetj nhat roif ', N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 4, CAST(N'2023-05-30T17:18:54.963' AS DateTime), NULL, NULL)
INSERT [dbo].[Comment] ([comment_id], [content], [Store_id], [user_id], [Rating], [created], [img], [clip]) VALUES (12, N'heheheheh', N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 3, CAST(N'2023-05-30T17:23:44.757' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[comment_SP] ([id], [content], [product_id], [user_id], [rating], [clip], [image]) VALUES (1, N'asdad', 1, N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 4, NULL, N'/Content/products/6a32a5cf-32a3-444d-9f23-fa40a624f39b.jpg')
INSERT [dbo].[comment_SP] ([id], [content], [product_id], [user_id], [rating], [clip], [image]) VALUES (2, N'addda', 1, N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 3, NULL, N'/Content/products/d421bf79-7995-4445-8a34-c3dbc578d642.jpg')
INSERT [dbo].[comment_SP] ([id], [content], [product_id], [user_id], [rating], [clip], [image]) VALUES (3, N'adada', 1, N'3510f936-6109-4bc1-a946-0b9fd1bf68ad', 3, NULL, N'/Content/products/081144ef-1ca7-472c-9827-6846026c5f2d.jpg')
GO
INSERT [dbo].[Discount] ([Id], [Code], [StoreId], [SoLuong], [DiscountPercent], [StartDate], [EndDate], [Status]) VALUES (8, N'24a753ff', N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', -3, 77, CAST(N'2023-06-06' AS Date), CAST(N'2024-04-12' AS Date), 0)
INSERT [dbo].[Discount] ([Id], [Code], [StoreId], [SoLuong], [DiscountPercent], [StartDate], [EndDate], [Status]) VALUES (11, N'70d55787', N'311f25d5-ea90-4f36-a596-1d573d7033d3', 5, 70, CAST(N'2023-06-11' AS Date), CAST(N'2024-04-12' AS Date), 1)
INSERT [dbo].[Discount] ([Id], [Code], [StoreId], [SoLuong], [DiscountPercent], [StartDate], [EndDate], [Status]) VALUES (13, N'c8f2e8c5', N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', -1, 90, CAST(N'2023-06-20' AS Date), CAST(N'2025-04-12' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[extrafood] ON 

INSERT [dbo].[extrafood] ([ext_id], [image], [Productid], [price]) VALUES (23, N'439_img0.jpeg', 439, NULL)
INSERT [dbo].[extrafood] ([ext_id], [image], [Productid], [price]) VALUES (24, N'439_img1.jpeg', 439, NULL)
INSERT [dbo].[extrafood] ([ext_id], [image], [Productid], [price]) VALUES (25, N'439_img2.jpeg', 439, NULL)
SET IDENTITY_INSERT [dbo].[extrafood] OFF
GO
INSERT [dbo].[Heartitem] ([ID], [ProductName], [Price], [Image], [Productid], [Userid], [Linkimage]) VALUES (10, NULL, CAST(50000 AS Decimal(18, 0)), N'ImageProduct1.jpg', 1, N'7f921c48-9222-42c1-b098-006e36e2ba2f', NULL)
INSERT [dbo].[Heartitem] ([ID], [ProductName], [Price], [Image], [Productid], [Userid], [Linkimage]) VALUES (11, NULL, CAST(45000 AS Decimal(18, 0)), N'ImageProduct3.jpg', 3, N'7f921c48-9222-42c1-b098-006e36e2ba2f', NULL)
INSERT [dbo].[Heartitem] ([ID], [ProductName], [Price], [Image], [Productid], [Userid], [Linkimage]) VALUES (12, NULL, CAST(42000 AS Decimal(18, 0)), N'ImageProduct10.jpg', 10, N'7f921c48-9222-42c1-b098-006e36e2ba2f', NULL)
GO
INSERT [dbo].[Message] ([Id], [Content], [Time], [Storeid], [Userid], [Img]) VALUES (1, N'chao shop', NULL, N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'43394c3b-d937-4044-b556-fb0902a170ee', NULL)
INSERT [dbo].[Message] ([Id], [Content], [Time], [Storeid], [Userid], [Img]) VALUES (2, N'can tro giup ', NULL, N'311f25d5-ea90-4f36-a596-1d573d7033d3', N'43394c3b-d937-4044-b556-fb0902a170ee', NULL)
INSERT [dbo].[Message] ([Id], [Content], [Time], [Storeid], [Userid], [Img]) VALUES (3, N'sao vậy', NULL, N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'43394c3b-d937-4044-b556-fb0902a170ee', NULL)
GO
INSERT [dbo].[Order_detail] ([Od_id], [Productid], [price], [num], [tt_money], [Storeid], [VoucherCode], [Totalinvoucher], [Linkimage]) VALUES (5410, 6, 15000, 2, 30000, N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', NULL, NULL, NULL)
INSERT [dbo].[Order_detail] ([Od_id], [Productid], [price], [num], [tt_money], [Storeid], [VoucherCode], [Totalinvoucher], [Linkimage]) VALUES (6498, 11, 50000, 1, 50000, N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'24a753ff', 11500, NULL)
INSERT [dbo].[Order_detail] ([Od_id], [Productid], [price], [num], [tt_money], [Storeid], [VoucherCode], [Totalinvoucher], [Linkimage]) VALUES (6504, 12, 50000, 1, 50000, N'0279debd-bb14-4901-94ba-f03fb6eb2d6f', N'0ca78153', 45000, NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Od_id], [Od_name], [Od_email], [Od_phone_number], [Od_address], [Od_note], [Od_date], [Od_status], [idthanhtoan], [VoidanOder]) VALUES (5410, N'43394c3b-d937-4044-b556-fb0902a170ee', NULL, NULL, NULL, NULL, CAST(N'2023-06-21T08:20:44.077' AS DateTime), 0, 1, 1)
INSERT [dbo].[Orders] ([Od_id], [Od_name], [Od_email], [Od_phone_number], [Od_address], [Od_note], [Od_date], [Od_status], [idthanhtoan], [VoidanOder]) VALUES (6498, N'43394c3b-d937-4044-b556-fb0902a170ee', NULL, NULL, NULL, NULL, CAST(N'2023-11-10T12:21:58.353' AS DateTime), 0, 1, 1)
INSERT [dbo].[Orders] ([Od_id], [Od_name], [Od_email], [Od_phone_number], [Od_address], [Od_note], [Od_date], [Od_status], [idthanhtoan], [VoidanOder]) VALUES (6504, N'43394c3b-d937-4044-b556-fb0902a170ee', NULL, NULL, NULL, NULL, CAST(N'2023-11-10T14:12:08.330' AS DateTime), 0, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ThanhToan] ([id], [TenHinhThuc]) VALUES (1, N'Thanh Toan Truc Tiep')
INSERT [dbo].[ThanhToan] ([id], [TenHinhThuc]) VALUES (2, N'MoMo')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/16/2024 1:32:27 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Product] FOREIGN KEY([Productid])
REFERENCES [dbo].[Product] ([Productid])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Product]
GO
ALTER TABLE [dbo].[extrafood]  WITH CHECK ADD  CONSTRAINT [FK__extrafood__Produ__33D4B598] FOREIGN KEY([Productid])
REFERENCES [dbo].[Product] ([Productid])
GO
ALTER TABLE [dbo].[extrafood] CHECK CONSTRAINT [FK__extrafood__Produ__33D4B598]
GO
ALTER TABLE [dbo].[Heartitem]  WITH CHECK ADD  CONSTRAINT [FK_Heartitem_Product] FOREIGN KEY([Productid])
REFERENCES [dbo].[Product] ([Productid])
GO
ALTER TABLE [dbo].[Heartitem] CHECK CONSTRAINT [FK_Heartitem_Product]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_det__Od_id__300424B4] FOREIGN KEY([Od_id])
REFERENCES [dbo].[Orders] ([Od_id])
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK__Order_det__Od_id__300424B4]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_det__Produ__31EC6D26] FOREIGN KEY([Productid])
REFERENCES [dbo].[Product] ([Productid])
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK__Order_det__Produ__31EC6D26]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_ThanhToan] FOREIGN KEY([idthanhtoan])
REFERENCES [dbo].[ThanhToan] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ThanhToan]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Categoryid])
REFERENCES [dbo].[Category] ([Categoryid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
