.group-103 .phone {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Material Icons', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  color: #FF4500;
}
.group-103 .z-534579449480587-edb-0021-bd-23-f-2972-e-1131-efca-499271 {
  background: url('../assets/images/z534579449480587Edb0021Bd23F2972E1131Efca499271.jpeg') 50% / cover no-repeat;
  margin-right: 5px;
  width: 25px;
  height: 24px;
}
.group-103 .telephone-na {
  margin: 3px 16.6px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-103 .z-53457943749108-c-04-e-1-f-361-f-08-be-8-e-3-a-81-edb-3-bdf-1-cde-1 {
  background: url('../assets/images/z53457943749108C04E1F361F08Be8E3A81Edb3Bdf1Cde1.jpeg') 50% / cover no-repeat;
  margin: 3px 5px 0 0;
  width: 29px;
  height: 21px;
}
.group-103 .email-na {
  margin: 5px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-103 .container-4 {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-103 .my-account {
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-103 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-1 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 17px 3px 0;
  width: 14px;
  height: 10px;
}
.group-103 .eng {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-103 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-2 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 0 3px 0;
  width: 14px;
  height: 10px;
}
.group-103 .container-2 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-103 .group-29 {
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1226px;
  box-sizing: border-box;
}
.group-103 .logo-full-white {
  background: url('../assets/images/logoFullWhite.png') 50% / cover no-repeat;
  width: 204px;
  height: 65px;
}
.group-103 .microphone-11 {
  background: url('../assets/images/microphone11.png') 50% / cover no-repeat;
  width: 18px;
  height: 25px;
}
.group-103 .group-22 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 15px;
  width: 566px;
  height: 45px;
  box-sizing: border-box;
}
.group-103 .find-11 {
  background: url('../assets/images/find11.png') 50% / cover no-repeat;
  width: 38px;
  height: 31px;
}
.group-103 .group-23 {
  background: #D90429;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 5px 7px 0;
  width: 43px;
  height: 45px;
  box-sizing: border-box;
}
.group-103 .group-24 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 609px;
  height: fit-content;
  box-sizing: border-box;
}
.group-103 .group-25 {
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 886px;
  box-sizing: border-box;
}
.group-103 .home-1 {
  background: url('../assets/images/home1.png') 50% / cover no-repeat;
  margin: 10px 17px 9px 0;
  width: 46px;
  height: 46px;
}
.group-103 .heart-1 {
  background: url('../assets/images/heart1.png') 50% / cover no-repeat;
  margin: 19px 21px 16px 0;
  width: 30px;
  height: 30px;
}
.group-103 .z-53457874163015-b-9746-e-0-dc-1-c-0269-e-79193-fc-637-ef-4561 {
  background: url('../assets/images/z53457874163015B9746E0Dc1C0269E79193Fc637Ef4561.jpeg') 50% / cover no-repeat;
  margin: 19px 2px 11px 0;
  width: 32px;
  height: 35px;
}
.group-103 .container {
  margin: 28px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
.group-103 .group-28 {
  margin-left: 3.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-103 .header {
  background: #FF4500;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 36px 0;
  height: 100%;
  box-sizing: border-box;
}
.group-103 .group-105 {
  position: relative;
  margin-bottom: 107px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 1189.7px 156px 0;
  width: 1878px;
  box-sizing: border-box;
}
.group-103 .thng-tinn-hng {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: #292929;
}
.group-103 .stt {
  margin-right: 8.5px;
  width: 94.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #363329;
}
.group-103 .date {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #363329;
}
.group-103 .name {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #363329;
}
.group-103 .container-3 {
  margin: 0 10px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 433.1px;
  box-sizing: border-box;
}
.group-103 .group-189 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 1110px;
  height: 393px;
}
.group-103 .container-15 {
  margin: 0 0.8px 37px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-16 {
  margin: 0 2.8px 38px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-17 {
  margin: 0 1.4px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-18 {
  margin: 0 0.3px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-19 {
  margin: 0 0.5px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-20 {
  margin-bottom: 38px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .container-21 {
  margin-right: 0.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #212127;
}
.group-103 .group-208 {
  margin: 8px 41.6px 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-103 .ch {
  margin: 0 6.1px 41px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #363329;
}
.group-103 .ch-1 {
  margin: 0 5.7px 40px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #363329;
}
.group-103 .ch-2 {
  margin: 0 1.8px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #363329;
}
.group-103 .ch-3 {
  margin: 0 4.6px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #363329;
}
.group-103 .ch-4 {
  margin: 0 1.9px 39px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #363329;
}
.group-103 .ch-5 {
  margin: 0 1.1px 41px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #363329;
}
.group-103 .ch-6 {
  margin-left: 2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #363329;
}
.group-103 .container-1 {
  margin: 8px 131.9px 7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-103 .nguyn-ngc-sang {
  margin: 0 1.2px 38px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-1 {
  margin-bottom: 38px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-2 {
  margin: 0 2.2px 38px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-3 {
  margin: 0 1.2px 38px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-4 {
  margin: 0 1.2px 39px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-5 {
  margin: 0 1.2px 37px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .nguyn-ngc-sang-6 {
  margin-right: 2.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #212127;
}
.group-103 .group-210 {
  margin: 7px 127.6px 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-103 .image-48 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-49 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-50 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-51 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-52 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-53 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  margin-bottom: 25px;
  width: 34px;
  height: 31px;
}
.group-103 .image-54 {
  border-radius: 4px;
  background: url('../assets/images/image54.png') 50% / cover no-repeat;
  width: 34px;
  height: 31px;
}
.group-103 .group-212 {
  border-radius: 4px;
  margin-right: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34px;
  box-sizing: border-box;
}
.group-103 .cancel-order {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-224 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-225 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-226 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-227 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-228 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-229 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .cancel-order-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #F6EAD9;
}
.group-103 .group-230 {
  border-radius: 2px;
  background: #DC3545;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 9.2px 7px 10px;
  box-sizing: border-box;
}
.group-103 .group-231 {
  border-radius: 2px;
  margin-right: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-103 .mua-li {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .mua-li-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-215 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .group-214 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-216 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-217 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-218 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-5 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-219 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-6 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-220 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .mua-li-7 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #F6EAD9;
}
.group-103 .group-221 {
  border-radius: 2px;
  border: 1px solid #DC3545;
  background: #808080;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 9.2px 8px 9px;
  box-sizing: border-box;
}
.group-103 .group-222 {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-103 .container {
  position: relative;
  margin-bottom: 134px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-103 .container-1 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-190 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 13.5px 10px 13px;
  box-sizing: border-box;
}
.group-103 .container-2 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-191 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.5px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-3 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-192 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.1px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-4 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-193 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-5 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-194 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.5px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-6 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-195 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.3px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-7 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-196 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 13px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-8 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-197 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.4px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-9 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-198 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 12.3px 10px 12px;
  box-sizing: border-box;
}
.group-103 .container-10 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #101010;
}
.group-103 .group-199 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 7.6px 10px 9px;
  box-sizing: border-box;
}
.group-103 .container-11 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.3px;
  color: #101010;
}
.group-103 .group-200 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 8.2px 14px 9px;
  box-sizing: border-box;
}
.group-103 .container-14 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -4.4px;
  color: #101010;
}
.group-103 .group-202 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 12.2px 14px 12px;
  box-sizing: border-box;
}
.group-103 .container-12 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 0.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -4.4px;
  color: #101010;
}
.group-103 .container-13 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -4.4px;
  color: #101010;
}
.group-103 .group-203 {
  border-radius: 8px;
  background: url('../assets/images/image47.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 7.2px 14px 8px;
  box-sizing: border-box;
}
.group-103 .group-204 {
  border-radius: 8px;
  position: relative;
  margin-left: 49px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-103 .group-205 {
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 70px 0 31px;
  width: fit-content;
  box-sizing: border-box;
}
.group-103 .group-232 {
  margin: 0 268px 21px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-103 .chat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}
.group-103 .group-233 {
  border-radius: 19px;
  background: rgba(255, 137, 137, 0.85);
  position: relative;
  margin-top: 595px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0.1px 19px 0;
  width: 100px;
  height: fit-content;
  box-sizing: border-box;
}
.group-103 .group-234 {
  margin: 0 95px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-103 .frame-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 55px;
  box-sizing: border-box;
}
.group-103 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1878px;
  box-sizing: border-box;
}
