.group-188 .phone {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Material Icons', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  color: #FF4500;
}
.group-188 .z-534579449480587-edb-0021-bd-23-f-2972-e-1131-efca-499271 {
  background: url('../assets/images/z534579449480587Edb0021Bd23F2972E1131Efca499271.jpeg') 50% / cover no-repeat;
  margin-right: 5px;
  width: 25px;
  height: 24px;
}
.group-188 .telephone-na {
  margin: 3px 16.6px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-188 .z-53457943749108-c-04-e-1-f-361-f-08-be-8-e-3-a-81-edb-3-bdf-1-cde-1 {
  background: url('../assets/images/z53457943749108C04E1F361F08Be8E3A81Edb3Bdf1Cde1.jpeg') 50% / cover no-repeat;
  margin: 3px 5px 0 0;
  width: 29px;
  height: 21px;
}
.group-188 .email-na {
  margin: 5px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-188 .container-8 {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-188 .my-account {
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-188 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-1 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 17px 3px 0;
  width: 14px;
  height: 10px;
}
.group-188 .eng {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-188 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-2 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 0 3px 0;
  width: 14px;
  height: 10px;
}
.group-188 .container-5 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-188 .group-29 {
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1226px;
  box-sizing: border-box;
}
.group-188 .logo-full-white {
  background: url('../assets/images/logoFullWhite.png') 50% / cover no-repeat;
  width: 204px;
  height: 65px;
}
.group-188 .microphone-11 {
  background: url('../assets/images/microphone11.png') 50% / cover no-repeat;
  width: 18px;
  height: 25px;
}
.group-188 .group-22 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 15px;
  width: 566px;
  height: 45px;
  box-sizing: border-box;
}
.group-188 .find-11 {
  background: url('../assets/images/find11.png') 50% / cover no-repeat;
  width: 38px;
  height: 31px;
}
.group-188 .group-23 {
  background: #D90429;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 5px 7px 0;
  width: 43px;
  height: 45px;
  box-sizing: border-box;
}
.group-188 .group-24 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 609px;
  height: fit-content;
  box-sizing: border-box;
}
.group-188 .group-25 {
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 886px;
  box-sizing: border-box;
}
.group-188 .home-1 {
  background: url('../assets/images/home1.png') 50% / cover no-repeat;
  margin: 10px 17px 9px 0;
  width: 46px;
  height: 46px;
}
.group-188 .heart-1 {
  background: url('../assets/images/heart1.png') 50% / cover no-repeat;
  margin: 19px 21px 16px 0;
  width: 30px;
  height: 30px;
}
.group-188 .z-53457874163015-b-9746-e-0-dc-1-c-0269-e-79193-fc-637-ef-4561 {
  background: url('../assets/images/z53457874163015B9746E0Dc1C0269E79193Fc637Ef4561.jpeg') 50% / cover no-repeat;
  margin: 19px 2px 11px 0;
  width: 32px;
  height: 35px;
}
.group-188 .container {
  margin: 28px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
.group-188 .group-28 {
  margin-left: 3.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-188 .header {
  background: #FF4500;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 36px 0;
  height: 100%;
  box-sizing: border-box;
}
.group-188 .group-105 {
  position: relative;
  margin-bottom: 71px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 1189.7px 156px 0;
  width: 1878px;
  box-sizing: border-box;
}
.group-188 .xa-gi-hng {
  position: relative;
  margin: 0 289.3px 274.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.group-188 .chat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.group-188 .group-186 {
  border-radius: 12px;
  background: #E18787;
  position: relative;
  margin-top: 234px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 1.5px 22.5px 0;
  width: 100px;
  height: fit-content;
  box-sizing: border-box;
}
.group-188 .th-ng-tin-gi-hng {
  margin: 0 6.5px 102px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 31px;
  color: #000000;
}
.group-188 .check-product {
  margin-right: 8.5px;
  width: 171.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .tn-sn-phm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .slng {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .gi {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .thnh-tin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .container-6 {
  margin: 0 11px 15px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 736.3px;
  box-sizing: border-box;
}
.group-188 .line-32 {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
  width: 1110px;
  height: 1px;
}
.group-188 .rectangle-80 {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  margin: 17px 0 20px 0;
  width: 13px;
  height: 13px;
}
.group-188 .container-9 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  width: 50px;
  height: 50px;
}
.group-188 .container-10 {
  background: #FFFFFF;
  position: relative;
  margin-right: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.group-188 .salaz-cng {
  margin: 17px 0 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.group-188 .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-188 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.group-188 .container-2 {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  position: relative;
  margin: 9px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 12.4px 7px 12px;
  box-sizing: border-box;
}
.group-188 .container-7 {
  margin: 15px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .container-8 {
  margin: 15px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .xa {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .group-181 {
  border-radius: 3px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 14.7px 11px 15px;
  box-sizing: border-box;
}
.group-188 .container-3 {
  margin: 0 83px 12px 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 809px;
  box-sizing: border-box;
}
.group-188 .line-33 {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 11px;
  width: 1110px;
  height: 1px;
}
.group-188 .rectangle-83 {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  width: 13px;
  height: 13px;
}
.group-188 .container-1 {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #D9D9D9;
  position: relative;
  margin: 18px 0 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
}
.group-188 .rectangle-87 {
  background: url('../assets/images/rectangle87.jpeg') 50% / cover no-repeat;
  margin-right: 11px;
  width: 50px;
  height: 50px;
}
.group-188 .chi-nng {
  margin: 18px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.group-188 .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-188 .rectangle-85 {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  margin: 10px 0 8px 0;
  width: 32px;
  height: 32px;
}
.group-188 .container-5 {
  margin: 16px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .container-6 {
  margin: 16px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .xa-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .group-182 {
  border-radius: 3px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 7px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 14.7px 11px 15px;
  box-sizing: border-box;
}
.group-188 .container-9 {
  margin: 0 83px 13px 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 809px;
  box-sizing: border-box;
}
.group-188 .line-34 {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 11px;
  width: 1110px;
  height: 1px;
}
.group-188 .rectangle-82 {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #FFFFFF;
  margin: 18px 0 19px 0;
  width: 13px;
  height: 13px;
}
.group-188 .rectangle-89 {
  background: url('../assets/images/rectangle89.jpeg') 50% / cover no-repeat;
  margin-right: 39px;
  width: 50px;
  height: 50px;
}
.group-188 .coca {
  margin: 17px 0 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}
.group-188 .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-188 .rectangle-86 {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #FFFFFF;
  margin: 10px 0 8px 0;
  width: 32px;
  height: 32px;
}
.group-188 .container-2 {
  margin: 16px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .container-3 {
  margin: 16px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .xa-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .group-183 {
  border-radius: 3px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 7px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 14.7px 11px 15px;
  box-sizing: border-box;
}
.group-188 .container-13 {
  margin: 0 83px 12.5px 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 809px;
  box-sizing: border-box;
}
.group-188 .line-35 {
  width: 1110px;
  height: 48.5px;
}
.group-188 .line-36 {
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 14px;
  width: 1110px;
  height: 1px;
}
.group-188 .cart-totals {
  margin: 0 0 15px 207.6px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .line-39 {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0px 14px 0px;
  width: 500px;
  height: 1px;
}
.group-188 .total {
  margin: 0 8.5px 2px 0;
  display: inline-block;
  width: 447.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .container-4 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .container-12 {
  margin: 0 12.3px 15px 12.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 475.7px;
  box-sizing: border-box;
}
.group-188 .line-40 {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0px 14px 0px;
  width: 500px;
  height: 1px;
}
.group-188 .tng-tin {
  margin: 1px 8.5px 1px 0;
  display: inline-block;
  width: 364.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.group-188 .vn {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.group-188 .container-11 {
  margin: 0 11.5px 15px 11.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 476.5px;
  box-sizing: border-box;
}
.group-188 .line-41 {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0px 11px 0px;
  width: 500px;
  height: 1px;
}
.group-188 .t-hng {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.group-188 .group-184 {
  border-radius: 5px;
  background: #DA4F4F;
  position: relative;
  margin: 0 11px 12px 11px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 13px 18px 14px 18px;
  width: fit-content;
  box-sizing: border-box;
}
.group-188 .line-42 {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0px;
  width: 500px;
  height: 1px;
}
.group-188 .thng-tin-gi-hng {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.group-188 .group-187 {
  position: relative;
  margin: 0 48px;
  display: flex;
  flex-direction: row;
  padding-top: 408px;
  width: 1478px;
  box-sizing: border-box;
}
.group-188 .frame-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 43.5px;
  width: 1878px;
  height: fit-content;
  box-sizing: border-box;
}
.group-188 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1878px;
  box-sizing: border-box;
}
