.group-112 .phone {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Material Icons', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  color: #FF4500;
}
.group-112 .z-534579449480587-edb-0021-bd-23-f-2972-e-1131-efca-499271 {
  background: url('../assets/images/z534579449480587Edb0021Bd23F2972E1131Efca499271.jpeg') 50% / cover no-repeat;
  margin-right: 5px;
  width: 25px;
  height: 24px;
}
.group-112 .telephone-na {
  margin: 3px 16.6px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #E1E1E1;
}
.group-112 .z-53457943749108-c-04-e-1-f-361-f-08-be-8-e-3-a-81-edb-3-bdf-1-cde-1 {
  background: url('../assets/images/z53457943749108C04E1F361F08Be8E3A81Edb3Bdf1Cde1.jpeg') 50% / cover no-repeat;
  margin: 3px 5px 0 0;
  width: 29px;
  height: 21px;
}
.group-112 .email-na {
  margin: 5px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #E1E1E1;
}
.group-112 .container {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-112 .my-account {
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #E1E1E1;
}
.group-112 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-1 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 17px 3px 0;
  width: 14px;
  height: 10px;
}
.group-112 .eng {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #E1E1E1;
}
.group-112 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-2 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 0 3px 0;
  width: 14px;
  height: 10px;
}
.group-112 .container-2 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-112 .group-29 {
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1226px;
  box-sizing: border-box;
}
.group-112 .logo-full-white {
  background: url('../assets/images/logoFullWhite.png') 50% / cover no-repeat;
  width: 204px;
  height: 65px;
}
.group-112 .microphone-11 {
  background: url('../assets/images/microphone11.png') 50% / cover no-repeat;
  width: 18px;
  height: 25px;
}
.group-112 .group-22 {
  background: #E1E1E1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 15px;
  width: 566px;
  height: 45px;
  box-sizing: border-box;
}
.group-112 .find-11 {
  background: url('../assets/images/find11.png') 50% / cover no-repeat;
  width: 38px;
  height: 31px;
}
.group-112 .group-23 {
  background: #D90429;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 5px 7px 0;
  width: 43px;
  height: 45px;
  box-sizing: border-box;
}
.group-112 .group-24 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 609px;
  height: fit-content;
  box-sizing: border-box;
}
.group-112 .group-25 {
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 886px;
  box-sizing: border-box;
}
.group-112 .home-1 {
  background: url('../assets/images/home1.png') 50% / cover no-repeat;
  margin: 10px 17px 9px 0;
  width: 46px;
  height: 46px;
}
.group-112 .heart-1 {
  background: url('../assets/images/heart1.png') 50% / cover no-repeat;
  margin: 19px 21px 16px 0;
  width: 30px;
  height: 30px;
}
.group-112 .z-53457874163015-b-9746-e-0-dc-1-c-0269-e-79193-fc-637-ef-4561 {
  background: url('../assets/images/z53457874163015B9746E0Dc1C0269E79193Fc637Ef4561.jpeg') 50% / cover no-repeat;
  margin: 19px 2px 11px 0;
  width: 32px;
  height: 35px;
}
.group-112 .container {
  margin: 28px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #E1E1E1;
}
.group-112 .group-28 {
  margin-left: 3.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-112 .header {
  background: #FF4500;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 36px 0;
  height: 100%;
  box-sizing: border-box;
}
.group-112 .group-105 {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 1189.7px 156px 0;
  width: 1878px;
  box-sizing: border-box;
}
.group-112 .s-2 {
  background: url('../assets/images/s2.png') 50% / cover no-repeat;
  margin: 0 7px 2px 0;
  width: 848px;
  height: 158px;
}
.group-112 .s-4 {
  background: url('../assets/images/s4.png') 50% / cover no-repeat;
  margin-bottom: 5px;
  width: 420px;
  height: 79px;
}
.group-112 .s-5 {
  background: url('../assets/images/s5.png') 50% / cover no-repeat;
  width: 420px;
  height: 76px;
}
.group-112 .container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  box-sizing: border-box;
}
.group-112 .group-113 {
  margin: 0 0 30px 5px;
  display: flex;
  flex-direction: row;
  width: 1275px;
  box-sizing: border-box;
}
.group-112 .new {
  background: url('../assets/images/new.png') 50% / cover no-repeat;
  margin: 0 2px 1px 0;
  width: 57px;
  height: 55px;
}
.group-112 .sn-phm-mi {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 20px;
  color: #020202;
}
.sn-phm-mi-sub1 {
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 19px;
  line-height: 1.333;
}
.group-112 .group-120 {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .hot {
  background: url('../assets/images/hot.png') 50% / cover no-repeat;
  margin: 0 0 1px 4px;
  width: 57px;
  height: 54px;
}
.group-112 .sn-phm-hot {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 19px;
  color: #020202;
}
.group-112 .group-119 {
  margin: 2px 0 1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .spgiamgia {
  background: url('../assets/images/spgiamgia.png') 50% / cover no-repeat;
  margin-bottom: 2px;
  width: 55px;
  height: 54px;
}
.group-112 .sn-phm-gim-gi {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 19px;
  color: #020202;
}
.group-112 .group-118 {
  margin: 1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .container-1 {
  background: url('../assets/images/image.png') 50% / cover no-repeat;
  width: 45px;
  height: 51.4px;
}
.group-112 .group-1 {
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  right: 11.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px 8px 2.6px 9px;
  width: 62px;
  height: 58px;
  box-sizing: border-box;
}
.group-112 .ca-hng {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 20px;
  color: #020202;
}
.group-112 .group-117 {
  position: relative;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 56px;
  box-sizing: border-box;
}
.group-112 .giamgia {
  background: url('../assets/images/giamgia.png') 50% / cover no-repeat;
  position: absolute;
  left: 23.2px;
  top: 0px;
  width: 58px;
  height: 57px;
}
.group-112 .mgim-gi {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 20px;
  color: #020202;
}
.group-112 .group-116 {
  position: relative;
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 56px;
  box-sizing: border-box;
}
.group-112 .blog {
  background: url('../assets/images/blog.png') 50% / cover no-repeat;
  margin: 0 2.9px 0 7.9px;
  width: 56px;
  height: 53px;
}
.group-112 .bi-vit {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 20px;
  color: #020202;
}
.group-112 .group-115 {
  margin: 3px 0 1px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .group-121 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239.2px;
  height: fit-content;
  box-sizing: border-box;
}
.group-112 .group-122 {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 26px 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 18.1px 19px 17.7px;
  width: 1275px;
  box-sizing: border-box;
}
.group-112 .loi-sn-phm {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 22px;
  color: #020202;
}
.group-112 .group-114 {
  background: #FFFFFF;
  position: relative;
  margin: 0 0 2px 7px;
  padding: 25px 27.9px 31px 27.9px;
  width: fit-content;
  box-sizing: border-box;
}
.group-112 .rectangle-47 {
  background: #FFFFFF;
  margin-right: 3px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-49 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-50 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-51 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-52 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-53 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-54 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-55 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-56 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-57 {
  background: #FFFFFF;
  width: 123px;
  height: 146px;
}
.group-112 .group-123 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: 1270px;
  box-sizing: border-box;
}
.group-112 .rectangle-471 {
  background: #FFFFFF;
  margin-right: 3px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-491 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-501 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-511 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-521 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-531 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-541 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-551 {
  background: #FFFFFF;
  margin-right: 4px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-561 {
  background: #FFFFFF;
  margin-right: 5px;
  width: 123px;
  height: 146px;
}
.group-112 .rectangle-571 {
  background: #FFFFFF;
  width: 123px;
  height: 146px;
}
.group-112 .group-124 {
  display: flex;
  flex-direction: row;
  width: 1270px;
  box-sizing: border-box;
}
.group-112 .group-150 {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1270px;
  box-sizing: border-box;
}
.group-112 .quanao {
  border-radius: 26.5px;
  background: url('../assets/images/quanao.png') 50% / cover no-repeat;
  margin: 0 1.1px 6px 0;
  width: 65px;
  height: 63px;
}
.group-112 .quno {
  margin-left: 4.9px;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-126 {
  border-radius: 26.5px;
  margin: 8px 47.6px 41px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .thoitrangnu {
  background: url('../assets/images/thoitrangnu.png') 50% / cover no-repeat;
  margin: 0 19.3px 3px 18.3px;
  width: 62px;
  height: 61px;
}
.group-112 .thi-trang-n {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-127 {
  margin: 13px 22.9px 41px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .thietbidientu {
  background: url('../assets/images/thietbidientu.png') 50% / cover no-repeat;
  margin: 0 6px 6px 0;
  width: 63px;
  height: 58px;
}
.group-112 .thit-bin-t {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-128 {
  margin: 13px 32.1px 41px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .laptop {
  background: url('../assets/images/laptop.png') 50% / cover no-repeat;
  margin: 0 3.1px 11px 2.1px;
  width: 64px;
  height: 58px;
}
.group-112 .laptop-my-tnh {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-129 {
  margin: 8px 54.5px 21px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .mayanh {
  background: url('../assets/images/mayanh.png') 50% / cover no-repeat;
  margin: 0 0.3px 9px 5.3px;
  width: 73px;
  height: 60px;
}
.group-112 .mynh-my-quay-phim {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-130 {
  margin: 0 49.7px 9px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .dongho {
  background: url('../assets/images/dongho.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 80px;
}
.group-112 .ng-h {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-131 {
  position: relative;
  margin: 6px 34.3px 41px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 71px 9.3px 0 8.3px;
  box-sizing: border-box;
}
.group-112 .giaydepnam {
  background: url('../assets/images/giaydepnam.png') 50% / cover no-repeat;
  position: absolute;
  left: 15.7px;
  top: 0px;
  right: 0px;
  height: 72px;
}
.group-112 .giy-dp-nam {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-132 {
  position: relative;
  margin: 10px 30.1px 41px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 67px 4.2px 0 0;
  box-sizing: border-box;
}
.group-112 .diengiadung {
  background: url('../assets/images/diengiadung.png') 50% / cover no-repeat;
  margin-left: 5.9px;
  width: 86px;
  height: 70px;
}
.group-112 .thit-bin-gia-dng {
  margin-right: 1.1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-133 {
  margin: 9px 44px 19px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .thethao {
  background: url('../assets/images/thethao.png') 50% / cover no-repeat;
  position: absolute;
  left: 8px;
  top: 0px;
  right: 5px;
  height: 70px;
}
.group-112 .th-thao-du-lch {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-134 {
  position: relative;
  margin: 11px 45px 21px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 66px;
  box-sizing: border-box;
}
.group-112 .xemay {
  background: url('../assets/images/xemay.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 75px;
}
.group-112 .txe-my {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-135 {
  position: relative;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 72px 16.7px 0 16.7px;
  box-sizing: border-box;
}
.group-112 .container-3 {
  margin: 0 19.1px 14px 21.7px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-112 .dienthoai {
  background: url('../assets/images/dienthoai.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 70px;
  height: 76px;
}
.group-112 .in-thoi-ph-kin {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-146 {
  position: relative;
  margin: 3px 36.3px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 72px;
  box-sizing: border-box;
}
.group-112 .mevabe {
  background: url('../assets/images/mevabe.png') 50% / cover no-repeat;
  width: 70px;
  height: 74px;
}
.group-112 .group-145 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70px;
  height: 74px;
  box-sizing: border-box;
}
.group-112 .mb {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-148 {
  position: relative;
  margin: 6px 54.2px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 69px 7.3px 0 4.3px;
  box-sizing: border-box;
}
.group-112 .nhacua {
  background: url('../assets/images/nhacua.png') 50% / cover no-repeat;
  margin: 0 6.8px 0 1.8px;
  width: 67px;
  height: 72px;
}
.group-112 .nh-cai-sng {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-144 {
  margin: 3px 60.2px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .sacdep {
  background: url('../assets/images/sacdep.png') 50% / cover no-repeat;
  width: 60px;
  height: 68px;
}
.group-112 .scp {
  margin: 0 4.3px 0 1.3px;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-143 {
  margin: 6px 64.4px 21px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .suckhoe {
  background: url('../assets/images/suckhoe.png') 50% / cover no-repeat;
  margin: 0 1.6px 0 0.6px;
  width: 62px;
  height: 68px;
}
.group-112 .sc-khe {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-142 {
  margin: 6px 52.7px 21px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .giaydepnu {
  background: url('../assets/images/giaydepnu.png') 50% / cover no-repeat;
  width: 61px;
  height: 67px;
}
.group-112 .group-141 {
  margin: 0 15.7px 8px 10.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 61px;
  height: 67px;
  box-sizing: border-box;
}
.group-112 .giy-dp-n {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-147 {
  margin: 0 45.3px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .tuivinu {
  background: url('../assets/images/tuivinu.png') 50% / cover no-repeat;
  margin: 0 2.2px 4px 0;
  width: 69px;
  height: 67px;
}
.group-112 .ti-vn {
  margin-left: 4.8px;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-140 {
  margin: 4px 47.5px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .phukien {
  background: url('../assets/images/phukien.png') 50% / cover no-repeat;
  margin: 0 17.3px 8px 7.3px;
  width: 68px;
  height: 59px;
}
.group-112 .ph-kin-trang-sc-n {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-138 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.group-112 .group-139 {
  margin: 8px 24.9px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .bachhoa {
  background: url('../assets/images/bachhoa.png') 50% / cover no-repeat;
  margin: 0 13.8px 5px 13.8px;
  align-self: flex-start;
  width: 75px;
  height: 62px;
}
.group-112 .bch-ha-online {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-137 {
  margin: 8px 11.1px 20px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-112 .nhasach {
  background: url('../assets/images/nhasach.png') 50% / cover no-repeat;
  margin: 0 5px 8px 0;
  width: 56px;
  height: 57px;
}
.group-112 .nh-sch-online {
  overflow-wrap: break-word;
  font-family: 'STIX Two Math';
  font-weight: 400;
  font-size: 16px;
  color: #020202;
}
.group-112 .group-136 {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .container-1 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-112 .group-149 {
  position: absolute;
  right: 304.9px;
  bottom: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-112 .frame-1 {
  background: #E1E1E1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 44px;
  width: 1878px;
  height: fit-content;
  box-sizing: border-box;
}
.group-112 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1878px;
  box-sizing: border-box;
}
