.group-102 .phone {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Material Icons', 'Roboto Condensed';
  font-weight: 400;
  font-size: 10px;
  color: #FF4500;
}
.group-102 .z-534579449480587-edb-0021-bd-23-f-2972-e-1131-efca-499271 {
  background: url('../assets/images/z534579449480587Edb0021Bd23F2972E1131Efca499271.jpeg') 50% / cover no-repeat;
  margin-right: 5px;
  width: 25px;
  height: 24px;
}
.group-102 .telephone-na {
  margin: 3px 16.6px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-102 .z-53457943749108-c-04-e-1-f-361-f-08-be-8-e-3-a-81-edb-3-bdf-1-cde-1 {
  background: url('../assets/images/z53457943749108C04E1F361F08Be8E3A81Edb3Bdf1Cde1.jpeg') 50% / cover no-repeat;
  margin: 3px 5px 0 0;
  width: 29px;
  height: 21px;
}
.group-102 .email-na {
  margin: 5px 0 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-102 .container-9 {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-102 .my-account {
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-102 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-1 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 17px 3px 0;
  width: 14px;
  height: 10px;
}
.group-102 .eng {
  margin-right: 5.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.group-102 .z-534579443403484-c-76-c-42902846-c-2-eaf-8-cb-4-ff-3-cc-877-e-2 {
  background: url('../assets/images/z534579443403484C76C42902846C2Eaf8Cb4Ff3Cc877E2.jpeg') 50% / cover no-repeat;
  margin: 4px 0 3px 0;
  width: 14px;
  height: 10px;
}
.group-102 .container-4 {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-102 .group-29 {
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1226px;
  box-sizing: border-box;
}
.group-102 .logo-full-white {
  background: url('../assets/images/logoFullWhite.png') 50% / cover no-repeat;
  width: 204px;
  height: 65px;
}
.group-102 .microphone-11 {
  background: url('../assets/images/microphone11.png') 50% / cover no-repeat;
  width: 18px;
  height: 25px;
}
.group-102 .group-22 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 15px;
  width: 566px;
  height: 45px;
  box-sizing: border-box;
}
.group-102 .find-11 {
  background: url('../assets/images/find11.png') 50% / cover no-repeat;
  width: 38px;
  height: 31px;
}
.group-102 .group-23 {
  background: #D90429;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 5px 7px 0;
  width: 43px;
  height: 45px;
  box-sizing: border-box;
}
.group-102 .group-24 {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 609px;
  height: fit-content;
  box-sizing: border-box;
}
.group-102 .group-25 {
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 886px;
  box-sizing: border-box;
}
.group-102 .home-1 {
  background: url('../assets/images/home1.png') 50% / cover no-repeat;
  margin: 10px 17px 9px 0;
  width: 46px;
  height: 46px;
}
.group-102 .heart-1 {
  background: url('../assets/images/heart1.png') 50% / cover no-repeat;
  margin: 19px 21px 16px 0;
  width: 30px;
  height: 30px;
}
.group-102 .z-53457874163015-b-9746-e-0-dc-1-c-0269-e-79193-fc-637-ef-4561 {
  background: url('../assets/images/z53457874163015B9746E0Dc1C0269E79193Fc637Ef4561.jpeg') 50% / cover no-repeat;
  margin: 19px 2px 11px 0;
  width: 32px;
  height: 35px;
}
.group-102 .container {
  margin: 28px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
.group-102 .group-28 {
  margin-left: 3.8px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-102 .header {
  background: #FF4500;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 36px 0;
  height: 100%;
  box-sizing: border-box;
}
.group-102 .group-105 {
  position: relative;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 1189.7px 156px 0;
  width: 1878px;
  box-sizing: border-box;
}
.group-102 .store-list-0279-debd-bb-14490194-ba-f-03-fb-6-eb-2-d-6-f-311-f-25-d-5-ea-904-f-36-a-5961-d-573-d-7033-d-3 {
  margin: 0 286.5px 17px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #0F0E0E;
}
.store-list-0279-debd-bb-14490194-ba-f-03-fb-6-eb-2-d-6-f-311-f-25-d-5-ea-904-f-36-a-5961-d-573-d-7033-d-3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.group-102 .can-tro-giup-undefined {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.can-tro-giup-undefined-sub62 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #393946;
}
.can-tro-giup-undefined {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #707099;
}
.group-102 .container-11 {
  background: #F0F0F0;
  position: relative;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 5px 18.5px 6px 14px;
  box-sizing: border-box;
}
.sa-undefined {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #707099;
}
.group-102 .sa-undefined {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.sa-undefined-sub2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #50505B;
}
.group-102 .container {
  background: #F0F0F0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 5px 15.1px 6px 14px;
  box-sizing: border-box;
}
.group-102 .container-18 {
  border: 1px solid #9CA3AA;
  background: #FFFFFF;
  position: relative;
  margin: 0 134px 9px 0;
  display: flex;
  flex-direction: column;
  padding: 19px 0 16px 9px;
  width: fit-content;
  box-sizing: border-box;
}
.group-102 .enter-your-massage {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #707099;
}
.group-102 .container-2 {
  border: 1px solid #9CA3AA;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 13.6px 12px 7px;
  box-sizing: border-box;
}
.group-102 .choose-file {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #393946;
}
.group-102 .container-20 {
  border: 1px solid #393946;
  background: #F0F0F0;
  position: relative;
  margin: 0 6px 36px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 6.3px 2px 5px;
  box-sizing: border-box;
}
.group-102 .no-file-chosen {
  margin: 4px 0px 39px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #707099;
}
.group-102 .container-7 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-102 .send {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.group-102 .container-15 {
  border-radius: 3px;
  background: #007BFF;
  position: relative;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 27px 5.5px 28px 5px;
  box-sizing: border-box;
}
.group-102 .container-14 {
  margin: 0 134px 120px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 490px;
  box-sizing: border-box;
}
.group-102 .rectangle-74 {
  background: #FF4500;
  margin-bottom: 61px;
  width: 1878px;
  height: 4px;
}
.group-102 .ch-msckh-ch-hng-trung-tm-tr-gip-shopee-blog-shopee-mall {
  margin: 0 117px 24px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: rgba(96, 94, 94, 0.8);
}
.ch-msckh-ch-hng-trung-tm-tr-gip-shopee-blog-shopee-mall-sub186 {
  font-family: 'Baloo Bhai', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #70707D;
}
.ch-msckh-ch-hng-trung-tm-tr-gip-shopee-blog-shopee-mall {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.group-102 .vshopee-gii-thiu-vshopee-vit-nam-tuyn-dngiu-khon-shopee {
  margin: 0 87.6px 24px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: rgba(96, 94, 94, 0.8);
}
.vshopee-gii-thiu-vshopee-vit-nam-tuyn-dngiu-khon-shopee-sub266 {
  font-family: 'Baloo Bhai', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #70707D;
}
.vshopee-gii-thiu-vshopee-vit-nam-tuyn-dngiu-khon-shopee-sub169 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.group-102 .thanh-to-nn-vvn-chuyn {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: rgba(96, 94, 94, 0.8);
}
.thanh-to-nn-vvn-chuyn-sub266 {
  font-family: 'Baloo Bhai', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #70707D;
}
.thanh-to-nn-vvn-chuyn-sub169 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.group-102 .container-19 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.theo-dich-ng-tifacebook-instagram-linkedln-sub169 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
}
.group-102 .theo-dich-ng-tifacebook-instagram-linkedln {
  position: relative;
  margin-bottom: 24px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: rgba(96, 94, 94, 0.8);
}
.theo-dich-ng-tifacebook-instagram-linkedln-sub266 {
  font-family: 'Baloo Bhai', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #70707D;
}
.group-102 .ting-dng-shopee {
  margin: 0 1.9px 25px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Baloo Bhai', 'Roboto Condensed';
  font-weight: 400;
  font-size: 20px;
  color: #70707D;
}
.group-102 .ti-xung-12 {
  border: 1px solid #000000;
  background: url('../assets/images/tiXung12.png') 50% / cover no-repeat;
  margin: 0 7px 18px 0;
  width: 79px;
  height: 90px;
}
.group-102 .google-play-1 {
  background: url('../assets/images/googlePlay1.png') 50% / cover no-repeat;
  margin-bottom: 4px;
  width: 23px;
  height: 20px;
}
.group-102 .app-store-1 {
  background: url('../assets/images/appStore1.png') 50% / cover no-repeat;
  margin-bottom: 8px;
  width: 23px;
  height: 23px;
}
.group-102 .pngwing-6 {
  background: url('../assets/images/pngwing6.png') 50% / cover no-repeat;
  margin-bottom: 4px;
  width: 23px;
  height: 23px;
}
.group-102 .unnamed-1 {
  background: url('../assets/images/unnamed1.png') 50% / cover no-repeat;
  margin-right: 3px;
  width: 20px;
  height: 20px;
}
.group-102 .container-3 {
  margin: 6px 5px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23px;
  height: fit-content;
  box-sizing: border-box;
}
.group-102 .google-play-app-store-app-gallery-crf {
  margin: 5px 0 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Encode Sans Condensed';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.group-102 .container-8 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-102 .container-16 {
  margin: 0 2.1px 33px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.group-102 .chat {
  overflow-wrap: break-word;
  font-family: 'Cabin';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.group-102 .container-6 {
  border-radius: 15px;
  background: #FE8888;
  position: relative;
  margin-top: 132px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 1.7px 17px 0;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.group-102 .container-1 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.group-102 .pngwing-1 {
  background: url('../assets/images/pngwing1.png') 50% / cover no-repeat;
  position: absolute;
  top: 48px;
  right: 645px;
  width: 24px;
  height: 24px;
}
.group-102 .pngwing-2 {
  background: url('../assets/images/pngwing2.png') 50% / cover no-repeat;
  position: absolute;
  right: 645px;
  bottom: 70px;
  width: 24px;
  height: 24px;
}
.group-102 .pngwing-3 {
  background: url('../assets/images/pngwing3.png') 50% / cover no-repeat;
  position: absolute;
  right: 642.2px;
  bottom: 21px;
  width: 29.8px;
  height: 24px;
}
.group-102 .pngwing-4 {
  background: url('../assets/images/pngwing4.png') 50% / cover no-repeat;
  width: 44px;
  height: 27px;
}
.group-102 .container-12 {
  background: #E6E6E6;
  position: absolute;
  left: 719px;
  top: 41px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 6px 1px 5px;
  width: 55px;
  height: 28px;
  box-sizing: border-box;
}
.group-102 .cod-11 {
  background: url('../assets/images/cod11.png') 50% / cover no-repeat;
  width: 42.6px;
  height: 27px;
}
.group-102 .container-17 {
  background: #E6E6E6;
  position: absolute;
  left: 719px;
  top: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px 7.4px 0 5px;
  width: 55px;
  height: 28px;
  box-sizing: border-box;
}
.group-102 .vi-shopeepay-co-an-toan-khong-31 {
  background: url('../assets/images/viShopeepayCoAnToanKhong31.png') 50% / cover no-repeat;
  width: 47px;
  height: 22px;
}
.group-102 .container-13 {
  background: #E6E6E6;
  position: absolute;
  left: 781px;
  top: 77px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 5px 3px 3px;
  width: 55px;
  height: 28px;
  box-sizing: border-box;
}
.group-102 .rectangle-76 {
  background: #E6E6E6;
  position: absolute;
  left: 781px;
  top: 41px;
  width: 55px;
  height: 28px;
}
.group-102 .screenshot-202404150158191 {
  background: url('../assets/images/screenshot202404150158191.jpeg') 50% / cover no-repeat;
  width: 47.1px;
  height: 27px;
}
.group-102 .container-10 {
  background: #E6E6E6;
  position: absolute;
  left: 843px;
  top: 41px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 3.9px 1px 4px;
  width: 55px;
  height: 28px;
  box-sizing: border-box;
}
.group-102 .pngwing-5 {
  background: url('../assets/images/pngwing5.png') 50% / cover no-repeat;
  position: absolute;
  left: 794px;
  top: 44px;
  width: 27px;
  height: 27px;
}
.group-102 .container-5 {
  position: relative;
  margin: 0 70px 0 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1773px;
  box-sizing: border-box;
}
.group-102 .frame-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 37px;
  width: 1878px;
  height: fit-content;
  box-sizing: border-box;
}
.group-102 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1878px;
  box-sizing: border-box;
}
